@import ../../App

.navbar
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: $nav-height
    background-color: lawngreen
    z-index: 10

    .navItem
        margin: ($nav-height / 2.5) 0 0 40px
        height: 100%
        vertical-align: center

    .logoutButton
        height: fit-content

    .navContainer
        max-width: 960px
        margin: auto