
.gamesListItem
  background-color: lightgrey
  padding: 1em
  margin-bottom: 10px
  min-height: 100px

.joinPopup
  background-color: darkolivegreen
  color: orangered
  padding: 1em

.bitecode-display
  padding: 1em
  text-align: center

.zombie-display
  padding: 1em
  text-align: center