
.gamesListItem
  background-color: lightgrey
  padding: 1em
  margin-bottom: 10px

.joinPopup
  background-color: darkolivegreen
  color: orangered
  padding: 1em

.bitecode-display
  background-color: darkolivegreen
  color: orangered
  display:flex
  padding: 1em
  text-align: center